[2019-04-05 21:46] asaxsma opened #7 "Andy's Test Issue #1"
Just trying out issues list.

[2019-04-08 17:01] JWhitleyWork commented on #7
Trying out issue resolution.

[2019-04-08 19:39] #7 closed, assigned to nobody

[2019-04-09 21:27] asaxsma opened #9 "Component Message Watchdog Flag"
Requirement: Method for watchdog component to identify itself.
Message Name: COMPONENT_RPT_XX
Message ID (Decimal): 32
Message ID (Hexadecimal): 0x20
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|COMPONENT_TYPE1|Unsigned|0|4|1|0|0|15||
|COUNTER2|Unsigned|32|4|1|0|0|1||
|COM

[2019-04-09 21:38] JWhitleyWork commented on #9
What's with the numbers after each signal name?

[2019-04-09 21:53] asaxsma opened #10 "Flash File Version Number ID"
Requirement: Need way to identify code on PACMod component.
Message Name: FLASH_FILE_VERSION_XX
Message ID (Decimal): 0x1032
Message ID (Hexadecimal): 0x408
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
~~Message Rate: 30 Hz~~
***Message Rate: 1 Hz***

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|MAJOR<sup>1</sup>|Unsigned|7|8|1|0|0|255||

[2019-04-09 21:56] asaxsma commented on #9
They are footnotes.  Check out the template, its all explained there.

[2019-04-09 21:57] JWhitleyWork commented on #9
Ah.

[2019-04-09 22:00] asaxsma commented on #9
I'm not quite done with the template, but getting close I think.  I've set up Milestones, Labels, and a project also.  See what you think.  You can access the template as an administrator in the "Settings" tab, or as a user by just starting a new issue in the "Issues" tab.

[2019-04-12 20:17] JWhitleyWork opened #11 "Missing Value Lists on _FAULT Signals"
Requirement: Add value definitions for all _RPT messages on all _FAULT signals.
Message Name: All _RPT messages
Message ID (Decimal): N/A
Message ID (Hexadecimal): N/A
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|ENABLED | Unsigned | 0 | 1 | 1 | 0 | 0 | 1 |  
|OVERRIDE_ACT

[2019-04-24 18:13] asaxsma opened #13 "Publish DBC in HTML Format"
Automatically publish generated DBC in HTML format for readability and improved consistency.  This will replace the list of messages formally published in the PACMod 3.0 Startup Guide and more recently in the PACMod 3.0 General User Manual.

[2019-04-24 20:53] JWhitleyWork commented on #13
- [x] Update DBC converter tool to add to public vehicle_associations.xml instead of completely replacing it.
- [x] Create command-line version of DBC converter tool to perform same functions as GUI version.
- [ ] Test auto-generation of general and vehicle-specific DBC HTML files.
- [ ] Add CI hooks to auto-generate and upload HTML documents to appropriate locations.

[2019-05-06 14:28] mlemm99 opened #15 "Message Transmission Rate"
## Transmission Rate Detail
Is there a place (dbc) or otherwise, we can document each messages' transmission rate?

[2019-05-06 14:35] asaxsma commented on #15
Guys, I was thinking that since the dbc is the reference, and I'm thinking there probably isn't a standard field for rate, maybe we could just put it in the message description field.  In the Vector db editor there is a place for a comment for a message, and in the actual DBC it comes out as "CM_ BO_".

[2019-05-06 15:19] srustanAStuff commented on #15
Agreed.

[2019-05-06 16:19] JWhitleyWork commented on #15
@asaxsma / @srustanAStuff - there is a standard field for rate. It's a Message Attribute that you can add.

[2019-05-06 16:22] JWhitleyWork commented on #15
Sorry, it's not "standard." It's a user-defined attribute but it's available to add as a kind of "Default Attribute" in CanDB++.

[2019-05-06 16:31] asaxsma commented on #15
Did a little research.  Here are some possible alternatives:
1.) Use message comments mentioned above.
2.) The dbc editor provides "TxMethod" and "Cycle Time" fields for a message.  I couldn't find any definitions for these.  TxMethod might relate to object oriented methods that can be set up in the Vector programming language CAPL, the Vector CANoe tool, or possibly other tools in the Vector tool

[2019-05-06 16:48] JWhitleyWork commented on #15
@asaxsma - I'm pretty sure that GenMsgCycleTime is related to the TxMethod->Cycle Time field, but I'm not positive.

[2019-05-06 17:16] JWhitleyWork opened #16 "Release 4.0.0"
In order to release the auto-generated HTML file, we need to tag a new version with the file included. Because #5 introduces API-breaking changes, we can't release it as 3.4.1. @asaxsma has suggested 4.0.0 - it would include #5 and #6. Need consensus from the committee.

Just thumbs-up this message to show your approval.

[2019-05-07 15:22] asaxsma commented on #15
I've got an email out to Vector to see if any of these options make sense or if there are other options.

[2019-05-07 15:40] JWhitleyWork commented on #16
Looks like everyone is in agreement. Releasing 4.0.0.

[2019-05-07 15:40] #16 closed, assigned to JWhitleyWork, driscoll85, srustanAStuff, asaxsma

[2019-05-09 16:10] asaxsma opened #17 "Legacy Changes"
## Change 005 Tentatively Approved 2/28/2019
### Requirements
1. ID conflicts with messages in the DBC.
2. A way to identify systems what systems are on a board (component).

### Changes
1. Replace – Message: COMPONENT_RPT
    1. Message Properties
        1. Transmission rule: Broadcast by each PACMod System component on the User CAN at 30Hz.
        2. Massage Name and Addresses: There will be 4

[2019-05-09 16:17] #17 closed, assigned to nobody

[2019-05-16 14:36] asaxsma opened #19 "Fix component message max values"
Fix component message max values

[2019-05-16 15:14] asaxsma commented on #15
Team decided to use GenMsgCycleTime, GenMsgSendType, GenSigCycleTime, GenSigSendType.

[2019-05-16 16:05] JWhitleyWork commented on #19
Yup.  Needs to be done.

[2019-05-16 19:53] asaxsma commented on #10
[Here](https://www.dropbox.com/s/qbze1veflcmz294/Firmware%20Identification.docx?dl=0) is the doc with our proposals.  Change tracking is on.  Feel free to elaborate, clarify, or add proposals.

[2019-05-21 15:05] asaxsma commented on #10
Guys, just noticed that nobody was assigned to this issue.  Hopefully you get the message this time.  Above is the proposal that we discussed.  Let's keep this discussion going so that we can nail this down.  Thanks!

[2019-05-21 18:04] JWhitleyWork commented on #10
I still think we should remove CHAR0...CHAR4 and replace it with a single field called something like "BUILD".

[2019-05-21 18:13] srustanAStuff commented on #10
Novel idea.

[2019-05-21 18:44] asaxsma commented on #10
Josh, you were favoring a mechanized way to pick out a pre-release number.  Are you still favoring that idea?

[2019-05-21 20:27] #9 closed, assigned to nobody

[2019-05-21 20:27] #15 closed, assigned to JWhitleyWork, driscoll85, mlemm99, srustanAStuff, asaxsma

[2019-05-21 20:27] #19 closed, assigned to JWhitleyWork, driscoll85, asaxsma

[2019-05-21 23:10] JWhitleyWork commented on #10
@asaxsma - The CAN data for those characters won't be human-readable anyway since they'll be ASCII-encoded We're just adding extra, unnecessary metadata by calling out each character individually. The PACMod driver can handle the decoding either way.

[2019-05-22 12:54] asaxsma commented on #10
Good point, but I'm guessing CANalyzer or any other tool we use to look at the datalink would be able to translate.  With a number, we'll need a network connection to the number generator, which is probably equally unappealing.  You'd probably only have to connect to it for the version that you are going to leave on the vehicle.  I don't think intermediate, fast development iterations require it.

[2019-05-22 12:55] asaxsma commented on #10
We could use two bytes.  Every developer is assigned one of the numbers, and the other number is developer's choice.

[2019-05-22 13:00] asaxsma commented on #13
We'll also need to update the generator at some point to include the new transmission type and frequency.

Also, I'm wondering if we are specifying the frequency for periodic messages, do we need to specify the event for event based messages?

[2019-05-22 13:05] JWhitleyWork commented on #10
@asaxsma - The RNG could be on each person's computer, no need to have any sort of network connection. The act of building would generate the random number and it would be built into the binary (and the filename). We can even do this in the CMake file: https://cmake.org/cmake/help/latest/command/string.html#generation

[2019-05-22 13:15] JWhitleyWork commented on #10
And if you want it to be as close to a true RNG as possible, we could use https://www.nist.gov/programs-projects/nist-randomness-beacon as a seed.

[2019-05-22 13:33] asaxsma commented on #10
The downside is for a 1 byte number, the likelihood of overlap is probably significant, even within the scope of a single MAJOR.MINOR.PATCH.  For a multiple byte number, it is probably insignificant, but it becomes somewhat unreadable.

[2019-05-22 13:34] JWhitleyWork commented on #10
I was talking about a 4-byte number.

[2019-05-22 14:02] asaxsma commented on #10
So here's an example of what that might look like:
1.1.5-0119197495
1.1.5-2422342601
1.1.5-0143941902
1.1.5-4120429306
1.1.5-0520388809

Hard to talk about.  Hard to distinguish one from another if numbers are close.  For example, (kind of a silly example, but makes the point I think)...
MikeL: "Hey Josh, what version of software did you leave on the machine last night".
JoshW: "Ah, oh yah, it was

[2019-05-22 14:12] JWhitleyWork commented on #10
And what you're talking about would be just as difficult:

JoshW: "Hey, Mike. I saw that 1.1.5-ML was left on the vehicle. Do you know what code was used to compile it?"
MikeL: *shrugs* "Its obviously mine but I made 30 builds yesterday. No idea."
JoshW: "So, is it safe to use?"
MikeL: "Better not. Just go back to the release."

I propose 2 letters (first/last) and 2 bytes of random numbers (0-655

[2019-05-22 14:25] asaxsma commented on #10
How about this, since MikeL and JoshW are the only ones making code updates:
JoshW: "Hey Mike, gotta make some updates.  Guess we are on 1.1.6 now.  Should we just use "DEV" for suffixes again?"
MikeL: "Sounds good to me."
JoshW: releases 1.1.6-DEV00, spends the next couple days developing, and then releases 1.1.6-DEV01
MikeL: "Hey Mike, what number did you leave off with?"
JoshW: "01"
MikeL: Rele

[2019-05-22 14:26] JWhitleyWork commented on #10
We agreed that this won't work. Too much coordination required between devs.

[2019-05-22 14:27] asaxsma commented on #10
Really, that was too much?

[2019-05-22 14:28] JWhitleyWork commented on #10
For every build that goes on a vehicle? While you're developing and rapidly producing builds in a vehicle? Yes. Too much.

[2019-05-22 14:28] asaxsma commented on #10
I think Sam and I both shared that we've seen this work even at very large organizations.

[2019-05-22 17:16] mlemm99 opened #21 "VIN, Firmware, Watchdog Report"
# Original Request Modified!! See Below !!

## VIN Report
Requirement: Add Transmission Rate info to DBC for VIN Report
Message Name: VIN Report
Message ID (Decimal): 1044
Message ID (Hexadecimal): 0x414
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 1 Hz (Proposed)

## Firmware Version Report
Requirement: Add Transmission Rate info to DBC for Firmware Version Report
Mess

[2019-05-23 12:49] JWhitleyWork commented on #21
If we are going to make the Watchdog report a real part of the DBC, we should give it a "real" CAN ID, in accordance with https://github.com/astuff/pacmod_dbc/blob/v3/user_can_protocol.md. You OK with this, @mlemm99?

[2019-05-23 13:15] mlemm99 commented on #21
Changing the CAN ID in firmware is easy. Updating the unknown number of Micros in customer hands will be harder.

We do have another change related to the notification command we could make in unison that would also require Micro updates. Perhaps we plan these changes together so only 1 Micro update needs to be made.

[2019-05-23 17:10] asaxsma commented on #21
What is a Watchdog Report?

[2019-05-23 21:03] asaxsma opened #22 "Define User Interaction"
Requirement: Don't understand what "USER_INTERACTION" means on most/all of the Aux messages.

[2019-05-23 21:52] JWhitleyWork commented on #22
`USER_INTERACTION` is any interaction on that system from the user's side. For steering, for example, this would mean that the user is currently moving the steering wheel. This applies whether the system is enabled, overridden, or disabled. It is useful for user software if they wish to have their own overrides (e.g. when `IGNORE_OVERRIDES = TRUE` on that system). It sometimes comes as feedback fr

[2019-05-23 21:53] JWhitleyWork commented on #22
Since we define `USER_PC` as the piece of hardware controlling the system through CAN, we may wish to call this `DRIVER_INTERACTION` instead.

[2019-05-24 12:53] asaxsma commented on #22
How's this for an update to the DBC?
Name: ~~USER_PC~~ DRIVER_INTERACTION
Values: 0=NO_INTERACTION, 1=INTERACTION
Description: DRIVER_INTERACTION shall have the value of 1 if the driver is moving, changing, or otherwise touching the operator control(s) that relates to this signal to an extent that is detectable.  Otherwise, the value shall be 0.

[2019-05-25 16:57] mlemm99 opened #23 "Component Report Update"
## PCB Voltage Rail Faults
We have hardware in place to monitor the voltage rails on PACMod and can easily add the functionality to PACMini in the future. These monitored voltages have not been used yet to detect board level or battery voltage level faults.

**Component Report ID**: 0x20 - 0x23
**Bit Position (proposed)**: 43
**Bit Length**: 1

|Byte\Bit|7|6|5|4|3|2|1|0|
|---|---|---|---|---|---|-

[2019-05-28 13:25] JWhitleyWork commented on #23
@mlemm99 - Just to clarify, the request is just to add a single fault bit to the existing component reports, correct?

[2019-05-28 13:50] asaxsma commented on #23
I believe this is the request:

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|COMPONENT_TYPE 1|Unsigned|3|4|1|0|0|255||
|ACCEL 2|Unsigned|4|1|1|0|0|255||
|BRAKE 2|Unsigned|5|1|1|0|0|255||
|CRUISE_CONTROL_BUTTONS 2|Unsigned|6|1|1|0|0|255||
|DASH_CONTROLS_LEFT 2|Unsigned|7|1|1|0|0|255||
|DASH_CONTROLS_RIGHT 2|Unsigned|8|1|1|0|0|255||
|HAZARD_LIGHTS 2|Uns

[2019-05-28 13:53] mlemm99 commented on #23
yes, this looks correct

[2019-05-28 15:43] JWhitleyWork commented on #22
Do we use "DRIVER" in our startup guide? I think it's "OPERATOR," isn't it?

[2019-05-28 16:14] asaxsma commented on #22
Good catch.
Name: ~~USER_PC~~ OPERATOR_INTERACTION
Values: 0=NO_INTERACTION, 1=INTERACTION
Description: DRIVER_INTERACTION shall have the value of 1 if the driver is moving, changing, or otherwise touching the operator control(s) that relates to this signal to an extent that is detectable.  Otherwise, the value shall be 0.

[2019-05-28 16:15] JWhitleyWork commented on #22
I'm fine with the description too, provided we swap DRIVER for OPERATOR there.

[2019-05-28 16:16] asaxsma commented on #22
Name: USER_PC OPERATOR_INTERACTION
Values: 0=NO_INTERACTION, 1=INTERACTION
Description: OPERATOR_INTERACTION shall have the value of 1 if the driver is moving, changing, or otherwise touching the operator control(s) that relates to this signal to an extent that is detectable. Otherwise, the value shall be 0.

[2019-06-05 20:15] sanazfth opened #24 "Add another byte to control External Brake Request EBI Mode, priority and Control Mode for KENWORTH_T680"
Requirement: Add another byte to control External Brake Request EBI Mode, priority and Control Mode for KENWORTH_T680
Message Name: XBR_CONTROL_CMD
Message ID (Decimal): 360
Message ID (Hexadecimal): 0x168
Frame Format: Standard
Data Length Code: 1
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|XBR_EBI MODE|Unsigned|

[2019-06-06 20:57] cvigna9 opened #25 "Command Limit Reports"
Command Limit Report Messages API request

Requirement: Adding message to display the maximum accepted accelerator command pacmod will execute when Command Limits are set. Also displays the users command.
Message Name: ACCEL_CMD_LIMIT_RPT
Message ID (Decimal): To be determined by committee. Currently 1344
Message ID (Hexadecimal): To be determined by committee. Currently 0x540
Frame Format: Standa

[2019-06-06 22:11] asaxsma commented on #25
@cvigna9 are we echoing the commands just to keep the command and its associated limit in synch with each other, or is there some other reason?

[2019-06-06 23:45] cvigna9 commented on #25
No were echoing the original user command and limits that way it shows the user that they may be approaching the limit or if the command is above the limit it would show why whatever there commanding isnt being output.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andy <notifications@github.com>
Sent: Thursday, June 6, 2019 5:11:12 PM
To: astuff/pacmod_dbc

[2019-06-07 13:26] asaxsma commented on #25
Maybe we could just use the command echo that is coming back in the system report and save the bits for something else?

[2019-06-07 13:42] JWhitleyWork commented on #25
I agree with @asaxsma - There is no real reason to duplicate these data in another message. I also highly recommend we only transmit these at 1Hz - it'll be completely static data - there is no reason to transmit them at a relatively high frequency.

[2019-06-07 13:44] JWhitleyWork commented on #25
I feel like maybe we should discuss having a request/response setup for messages like this, the VIN report, and the firmware version report (all static data). Thoughts from @asaxsma and @driscoll85?

[2019-06-07 17:13] asaxsma commented on #25
I spoke with Chris.  He's wanting the User PC to get 3 pieces of data: the unlimited command, the limited command, and the limits themselves.  The limits are dynamic based on various system variables.

[2019-06-07 17:20] cvigna9 commented on #25
The command limits aren't static, we can discuss more in the meeting.

[2019-06-07 19:58] asaxsma commented on #10
# Software Version Number
After much offline discussion, I believe we've arrived at this format:
|  For development: A-B  |  For release: C-D  |  Where:
A - Called "Software Version Number". Prior released Semantic Version 2.0 number.  Each of 3 digits is an integer [0-255].
B - Called "Software Build Number". 4 ASCII characters.  Each character is limited to [A-Z,0-9].  It is chosen randomly at b

[2019-06-07 20:12] asaxsma commented on #24
This seams like it should be a whole new system, complete with system report.  How does the operator control these?

[2019-06-11 16:20] asaxsma commented on #21
Merge Firmware version report request with related issue #10.  APPROVE.
Leave Vin report request.  APPROVE
Create new issue for the watchdog report.  Get message format defined.  Description about not for new development as a heartbeat message.

[2019-06-11 16:49] asaxsma commented on #21
Updated request:

VIN Report
Requirement: Add Transmission Rate info to DBC for VIN Report
Message Name: VIN Report
Message ID (Decimal): 1044
Message ID (Hexadecimal): 0x414
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 1 Hz (Proposed)

[2019-06-11 16:52] asaxsma opened #26 "Create Watchdog Report Message"
Watchdog Report
Requirement: Add Transmission Rate and DBC info for Watchdog Report
Message Name: Watchdog Report
Message ID (Decimal): 1536
Message ID (Hexadecimal): 0x600
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 10 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|GLOBAL_ENABLE_FLAG|Unsigned|0|1|1|0|0|1||
|GLOBAL_OVERR

[2019-06-11 16:54] asaxsma commented on #26
@mlemm99 will you please enter the message format in this issue according the template instructions.

[2019-06-11 21:09] JWhitleyWork opened #27 "Modify DLCs to Match Message Length"
The majority of the messages in the PACMod DBC are only a few bytes but all messages are DLC = 8. This was for ease of programming but we are wasting an alarming amount of time on the bus for unused bytes. This issue is a request to reduce the DLC of each message to match its size.

[2019-06-12 17:39] asaxsma commented on #27
I'm wondering what this is going to break the interface for any of our customers?  First impression, customers aren't looking at DLC, except maybe to transfer data off of the CAN chip.  But, I wonder whether any of our customers' code has fixed this to 8 and will get a byte array either of the wrong size or with erroneous data.  Maybe for the same reason that we now have to make a code change.

[2019-06-12 18:02] mlemm99 opened #29 "Interior Light Report"
## Overview
PACMod is currently parsing vehicle data related to the status of the ambient light sensor and passing that info to PACMicro so it can dim and brighten the LEDs accordingly.

This bit is currently undocumented and outside the bounds of the future DLC of the Interior Light Report Message.

## Proposal
Move the bit to bit position 3 and add to DBC
Add Ambient Light Sensor Bright Is Valid

[2019-06-12 19:24] mlemm99 opened #30 "Shift AUX Report"
## Overview
PACMini on Lexus uses the keypad to calibrate the Park position. When the Park position is recorded, the PACMini sets a flag for PACMicro so it knows to perform a triple beep to let the user know the Park position was recorded successfully.

This flag is undocumented and outside the future DLC range.

## Proposal
Move the bit inside the new DLC range and add it to the DBC

Message Name

[2019-06-12 19:30] mlemm99 opened #31 "Remove Unused Report 0x41A"
## Proposal
Remove unused CAN ID 0x41A
Remove unused system report ANG_VEL_RPT

AutonomouStuff does not have any platforms that use this report.

[2019-06-12 21:22] JWhitleyWork commented on #27
I think the overwhelming majority of our customers are using either our ROS driver or something that uses `ros_canopen` or `kvaser_interface` for the raw data interpretation. If that isn't the case, we would find out really quickly. However, I really don't think we are affecting that many people by doing this - it'll be mostly the changes we have to make on our end which will still be minor.

[2019-06-13 13:37] asaxsma commented on #31
This was a customer request on Lexus that was part of Change 003 approved on 2/14/2019.  See legacy change long.

[2019-06-13 14:06] asaxsma commented on #30
## Elaborate Request
Message Name: SHIFT_AUX_RPT
Message ID (Decimal): 808
Message ID (Hexadecimal): 0x328
Frame Format: Standard
Data Length Code: 8 (future: 2)
TX Node: PACMini
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|BETWEEN_GEARS|Unsigned|0|1|1|0|0|1||
|STAY_IN_NEUTRAL_MODE|Unsigned|1|1|1|0|0|1||
|BRAKE_INTERLOCK_ACTIVE|Un

[2019-06-13 14:07] asaxsma commented on #30
I would propose the signal description:
<sup>a</sup>Notify the user that the shift system has permanently written data to its configuration file.

[2019-06-17 21:58] sanazfth opened #32 "Add an extra Byte to send command to control XBR EBI-Mode, Priority and Control-Mode."
Requirement: Add an extra Byte to send command to control XBR EBI-Mode, Priority and Control-Mode.
Message Name: External Brake Request Control Commands
Message ID (Decimal): 360
Message ID (Hexadecimal): 0x168
Frame Format: Standard
Data Length Code: 1
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|XBR_EBI_MODE|Unsi

[2019-06-19 18:03] mlemm99 opened #33 "Parking Brake Report / Hazard Lights Report"
## Overview
The Parking Brake Report and Hazard Lights Report bits/bytes do not match the Horn System

## Proposal
Modify the Parking Brake Report and Hazard Lights Report to Match the system type.

Message Name: PARKING_BRAKE_RPT
Message ID (Decimal): 548
Message ID (Hexadecimal): 0x224
Frame Format: Standard
Data Length Code: 8 (Future: 4)
TX Node: PACMOD
Message Rate: 30 Hz

Message Name: HAZAR

[2019-06-19 19:13] asaxsma commented on #33
Can you bold the differences.  Thanks!

[2019-06-20 20:55] asaxsma commented on #32
There was some discussion that this deserves a new system.  Here is the consequent proposal.

Requirement: Add an extra Byte to send command to control XBR EBI-Mode, Priority and Control-Mode.

Message Name: BRAKE_DECCEL_CMD
Message ID (Decimal): 312
Message ID (Hexadecimal): 0x138
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offse

[2019-06-20 21:17] asaxsma commented on #25
After some discussion, we believe there is 4 **distinct** pieces of information:
1. raw command: existing, useful for diagnosing communication w/ pacmod
2. limited command: new, useful for diagnosing communication w/ vehicle
3. limit: new, useful for control planning
4. reported command: existing, useful for diagnosing communication with vehicle

The proposed data link mapping (message / field):
1

[2019-06-20 22:07] mlemm99 opened #34 "Wheel Speed Report"
## Overview
Wheel Speed Report has 1 wheel set to unsigned and the other 3 wheels to signed

## Report
Message Name: WHEEL_SPEED_RPT
Message ID (Decimal): 1031
Message ID (Hexadecimal): 0x407
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

## Current
|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|WHEEL_SPD_FRONT_LEFT|Unsi

[2019-06-21 02:10] JWhitleyWork commented on #34
Wow. I can't believe we missed this until now.

[2019-06-21 13:37] asaxsma commented on #34
I'm guessing its supposed to be signed.  Is that correct?

[2019-06-21 14:17] mlemm99 opened #35 "Wiper Command"
## Overview
Add 1 more intermittent level to support more platforms.

## Wiper Command
Message Name: WIPER_CMD
Message ID (Decimal): 308
Message ID (Hexadecimal): 0x134
Frame Format: Standard
Data Length Code: 8 (Future: 2)
TX Node: PACMOD
Message Rate: 30 Hz

## Current
|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|ENABLE|Unsigned|0|1|1|0|0|1||
|IGNOR

[2019-06-21 15:14] JWhitleyWork commented on #35
So, this is purely because we have a "defined architecture" for system types (for example, the WIPER_CMD is an "IntSystem," I would prefer to have the SPRAYER_CMD be another system (BoolSystem). It avoids coding a special-case for the Wiper system in the firmware and the driver. Currently STEER_CMD is the only special-case system because it needs both the position and rotation rate in order to wor

[2019-06-21 15:15] JWhitleyWork commented on #34
It is, yes.

[2019-06-21 16:39] asaxsma commented on #25
Command Limit Report Messages API request

Requirement: Adding message to display the maximum accepted accelerator command pacmod will execute when Command Limits are set. Also displays the users command.
Message Name: ACCEL_CMD_LIMIT_RPT
Message ID (Decimal): 513
Message ID (Hexadecimal): 0x201
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Startbit|Len

[2019-06-21 17:08] asaxsma commented on #32
Need further definition on requirements.

[2019-06-21 17:23] asaxsma opened #36 "Change "IS_VALID" field on AUX messages"
Change valid flags for aux messages to have the name "AVAILABLE/NOT_AVAILABLE".
Change the field name to "YYY_AVAILABLE".
Definition: something to the effect that this is not a dynamic value, it pertains to the platform availability.

[2019-06-24 13:27] mlemm99 opened #37 "Add Sprayer Command"
## Overview
Add ability to command windshield sprayer

## Message
Message Name: SPRAYER_CMD
Message ID (Decimal): 312
Message ID (Hexadecimal): 0x138
Frame Format: Standard
Data Length Code: 8 (Future: 2)
TX Node: PACMOD
Message Rate: 30 Hz

## Proposed
|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|ENABLE|Unsigned|0|1|1|0|0|1||
|IGNORE_OVERRIDES|Unsign

[2019-06-24 13:37] asaxsma commented on #37
Probably need report too.

[2019-06-24 13:48] JWhitleyWork commented on #35
Closing in favor of #37.

[2019-06-24 13:52] mlemm99 opened #38 "Component Report - Add Spray System Flag and EStop NO/NC Flag"
## Overview
Insert Spray System flag in alphabetical order. We can maintain alphabetical order for now because this component report format has not been released yet.

Add additional flag for EStop NO/NC and change existing EStop flag to NO/NC

Requirement: Add Spray System flag to component report systems.
Message Name: COMPONENT_RPT_00-03
Message ID (Decimal): 32 - 35
Message ID (Hexadecimal): 0

[2019-06-24 13:57] mlemm99 opened #39 "Spray System Report"
## Overview
Requirement: Add message report for Spray System
Message Name: SPRAYER_RPT
Message ID (Decimal): 568
Message ID (Hexadecimal): 0x238
Frame Format: Standard
Data Length Code: 8 (Future: 4)
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|ENABLED|Unsigned|0|1|1|0|0|1||
|OVERRIDE_ACTIVE|Unsigned|1|1|1|0|0|1||

[2019-06-24 13:59] asaxsma commented on #39
Maybe next time around combine all this into a single issue.

[2019-06-24 14:16] #10 closed, assigned to JWhitleyWork, driscoll85, mlemm99, srustanAStuff, asaxsma

[2019-06-24 14:16] #11 closed, assigned to nobody

[2019-06-24 14:16] #21 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-06-24 14:32] mlemm99 commented on #35
add intermittant level

[2019-06-25 20:12] asaxsma commented on #25
# Open Issues
I think we left some loose ends.  Please left me know if you agree to these:
1. ~~I don't see ID's assigned.  I thought we decided to use the next values down in gaps between reports.  That would be accel: 0x201(513), brake: 0x205(517), and 0x22D (557).~~ Guess we did have this above.
2. I'm not sure why we agreed to e.g. "USER_ACCEL_LIMITED_CMD" when user "user" hasn't been used in

[2019-06-27 14:17] asaxsma commented on #25
Guys, still waiting on feedback from items 2-4 above.  Would prefer not to waste meeting time on this.

[2019-06-27 14:38] JWhitleyWork commented on #25
2. - I prefer "LIMITED_ACCEL_CMD" - not sure why we got rid of it. My second choice would be "ACCEL_CMD_LIMITED".
3. I'm OK with those descriptions.
4. Agreed.

[2019-06-27 15:17] driscoll85 commented on #25
I approve, and agree with Josh on #2.
________________________________
From: Joshua Whitley <notifications@github.com>
Sent: Thursday, June 27, 2019 9:38 AM
To: astuff/pacmod_dbc
Cc: Joe Driscoll; Assign
Subject: Re: [astuff/pacmod_dbc] Command Limit Reports (#25)

  1.
     *   I prefer "LIMITED_ACCEL_CMD" - not sure why we got rid of it. My second choice would be "ACCEL_CMD_LIMITED".
  2.  I'm O

[2019-06-27 15:41] asaxsma commented on #25
- Add comment on steering that the limit is absolute value.
- 2 above "LIMITED_ACCEL_CMD" with comment "The LIMITED_ACCEL_CMD shall be the value of the ACCEL_CMD of the associated system limited by the ACCEL_CMD_LIMIT".
- 3 approved
- 4 agreed

[2019-06-27 16:15] asaxsma commented on #32
Questions for Vendor:
1. What is the recommended priority?  Kevin: Won't break vehicle.  Will ask customer.  Do want to provide to our customers.
2. Is it okay to expose the underlying message architecture?  Kevin: probably okay to expose, will ask.

AS Question:
1. Should we allow access to all of these parameters?  Allow customer to break the vehicle.  Kevin: Vendor probably wouldn't give us.

Q

[2019-06-27 16:28] asaxsma commented on #35
255 - HIGH, 254 - MEDIUM, 253 - LOW, 11 - INTERMITTENT10 (fastest) through INTERMITTENT1 (slowest), 0 - OFF

[2019-06-27 16:48] asaxsma commented on #38
Add a bit.  ESTOP_FAULT.
Sprayer bit okay as defined.

[2019-06-27 16:53] #33 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-06-28 16:30] asaxsma commented on #32
Pull out "not defined".
Remove is commanding.
Add vehicle feedback in aux message.
Make bits part of command message.

[2019-06-28 17:49] JWhitleyWork commented on #32
I approve with changes described by @asaxsma.

[2019-06-28 19:06] driscoll85 commented on #32
I approve
________________________________
From: Joshua Whitley <notifications@github.com>
Sent: Friday, June 28, 2019 12:49 PM
To: astuff/pacmod_dbc
Cc: Joe Driscoll; Assign
Subject: Re: [astuff/pacmod_dbc] Add an extra Byte to send command to control XBR EBI-Mode, Priority and Control-Mode. (#32)

I approve with changes described by @asaxsma<https://github.com/asaxsma>.

—
You are receiving this

[2019-06-28 19:19] asaxsma opened #41 "Add an extra Byte to send command to control XBR EBI-Mode, Priority and Control-Mode."
Requirement: Add an extra Byte to send command to control XBR EBI-Mode, Priority and Control-Mode.
Message Name: External Brake Request Control Commands
Message ID (Decimal): 360
Message ID (Hexadecimal): 0x168
Frame Format: Standard
Data Length Code: 1
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|XBR_EBI_MODE|Unsi

[2019-06-28 19:20] asaxsma commented on #41
There was some discussion that this deserves a new system.  Here is the consequent proposal.

Requirement: Add an extra Byte to send command to control XBR EBI-Mode, Priority and Control-Mode.

Message Name: BRAKE_DECCEL_CMD
Message ID (Decimal): 312
Message ID (Hexadecimal): 0x138
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offse

[2019-06-28 19:21] asaxsma commented on #41
Pull out "not defined".
Remove is commanding.
Add vehicle feedback in aux message.
Make bits part of command message.

[2019-06-28 19:22] asaxsma commented on #41
Requirement: Command air brakes.
Message Name: BRAKE_DECCEL_CMD
Message ID (Decimal): 312
Message ID (Hexadecimal): 0x138
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|ENABLE|Unsigned|0|1|1|0|0|1||
|IGNORE_OVERRIDES|Unsigned|1|1|1|0|0|1||
|CLEAR_OVERRIDE|Unsigned|2|1|1|0|0|

[2019-06-28 19:32] asaxsma commented on #41
Please approve new messages.

[2019-06-28 20:15] JWhitleyWork commented on #41
Approved.

[2019-06-28 20:16] driscoll85 commented on #41
Approved

[2019-07-03 15:53] asaxsma commented on #41
@mlemm99 do you approve?

[2019-07-03 17:02] mlemm99 commented on #41
Not yet approved. The deccel command is transmitted at 50hz

[2019-07-03 19:58] asaxsma commented on #41
Leave the report and aux report at 30hz?

[2019-07-03 20:00] JWhitleyWork commented on #41
There is no reason for us to have it received on the bus at 50Hz. The PACMod operates at 30Hz. It can re-send a value to the vendor hardware occasionally.

[2019-07-03 23:17] mlemm99 commented on #41
approved

[2019-07-11 19:26] JWhitleyWork commented on #26
Closed by #42.

[2019-07-11 19:27] JWhitleyWork commented on #30
Closed by #42.

[2019-07-11 19:27] JWhitleyWork commented on #39
Closed by #42.

[2019-07-11 19:27] JWhitleyWork commented on #38
Closed by #42.

[2019-07-11 19:28] JWhitleyWork commented on #35
Closed by #42.

[2019-07-11 19:28] JWhitleyWork commented on #34
Closed by #42.

[2019-07-11 19:28] #34 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-07-15 12:50] #22 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-07-15 12:51] mlemm99 commented on #23
Close #23

[2019-07-15 12:51] #23 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-07-16 18:01] asaxsma commented on #41
The following aux report change was requested.  Please approve.

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|XBR_ACTIVE_CONTROL_MODE<sup>1</sup>|Unsigned|3|4|1|0|0|3||
|XBR_SYSTEM_STATE<sup>2</sup>|Unsigned|5|2|1|0|0|2||
|FOUNDATION_BRAKE_USE<sup>3</sup>|Unsigned|7|2|1|0|0|1||
|HILL_HOLDER_MODE<sup>4</sup>|Unsigned|10|3|1|0|0|6||
|XBR_ACTIVE_CONTROL_

[2019-07-16 19:39] JWhitleyWork commented on #41
Approved.

[2019-07-16 20:04] mlemm99 commented on #41
approved

[2019-07-16 20:10] driscoll85 commented on #41
approved
________________________________
From: mlemm99 <notifications@github.com>
Sent: Tuesday, July 16, 2019 3:04 PM
To: astuff/pacmod_dbc
Cc: Joe Driscoll; Assign
Subject: Re: [astuff/pacmod_dbc] Add an extra Byte to send command to control XBR EBI-Mode, Priority and Control-Mode. (#41)

approved

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitH

[2019-07-17 16:39] asaxsma opened #44 "Watchdog Report - Add global power supply fault"
Add bit to "herald" the occurrence of a power supply fault.  This will be the last bit in the watchdog report.

[2019-07-17 17:39] mlemm99 commented on #44
Watchdog Report
Requirement: Add Transmission Rate and DBC info for Watchdog Report
Message Name: Watchdog Report
Message ID (Decimal): 1536
Message ID (Hexadecimal): 0x600
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 10 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|GLOBAL_ENABLE_FLAG|Unsigned|0|1|1|0|0|1||
|GLOBAL_OVERR

[2019-07-21 14:33] mlemm99 opened #45 "Fix Shift AUX Report"
## Overview
With the shorter DLC, modify the shift aux report to use less bytes as well as follow the flag / valid flag standard

## Current
Message Name: SHIFT_AUX_RPT
Message ID (Decimal): 808
Message ID (Hexadecimal): 0x328
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|B

[2019-07-21 16:53] JWhitleyWork commented on #45
I approve. However, I think it might be a good idea for us to make a release with the most recent changes before we actually start to implement the shorter DLC thing. That way, we can point to a definitive cut-off point for customers as the last "all-8-DLC" release.

[2019-07-21 17:10] mlemm99 commented on #45
Works for me

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Joshua Whitley <notifications@github.com>
Sent: Sunday, July 21, 2019 11:53:44 AM
To: astuff/pacmod_dbc <pacmod_dbc@noreply.github.com>
Cc: Michael Lemm <mlemm@autonomoustuff.com>; Assign <assign@noreply.github.com>
Subject: Re: [astuff/pacmod_dbc] Fix Shift AUX Report (#45)

I approve. However, I

[2019-07-21 18:49] driscoll85 commented on #45
Approved

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: mlemm99 <notifications@github.com>
Date: 7/21/19 12:10 PM (GMT-06:00)
To: astuff/pacmod_dbc <pacmod_dbc@noreply.github.com>
Cc: Joe Driscoll <jdriscoll@autonomoustuff.com>, Assign <assign@noreply.github.com>
Subject: Re: [astuff/pacmod_dbc] Fix Shift AUX Report (#45)

Works for me

Get Outlook for A

[2019-07-22 15:13] asaxsma commented on #32
This issue continued on in #41.

[2019-07-24 17:45] asaxsma commented on #45
@mlemm99 these fields haven't been deployed to any of the platforms yet?

[2019-07-24 18:58] mlemm99 commented on #45
any platforms currently using bit 56 are still using 56. moving things in line with the flag / flag valid and reducing the bytes has not been deployed yet

[2019-07-25 15:20] asaxsma commented on #36
Mind Vector DBC character length limits: us "AVAIL"

[2019-07-29 19:00] asaxsma opened #46 "Move E-Stop from Component Reports to Miscellaneous Report"
Requirement: Move E-Stop from Component Report to Miscellaneous Report for architecture improvement.

## Modify existing message
Message Nam: COMPONENT_RPT_00 through COMPONENT_RPT_03
Message ID (Decimal): 32-35
Message ID (Hexadecimal): 0x20-0x23
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Comment|
|---|---|---|---

[2019-07-29 19:02] asaxsma commented on #46
Per our meeting, let's approve this online.   Thanks!

[2019-07-29 19:08] asaxsma commented on #46
Let's change name from E_STOP_RPT to ESTOP_RPT.

[2019-07-29 19:13] asaxsma commented on #46
Ope, one more change, let's go with the already approved values for ESTOP of 0 RELEASED 1 PRESSED.

[2019-07-29 20:45] JWhitleyWork commented on #46
I approve.

[2019-07-29 21:21] driscoll85 commented on #46
Approved

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Joshua Whitley <notifications@github.com>
Date: 7/29/19 3:45 PM (GMT-06:00)
To: astuff/pacmod_dbc <pacmod_dbc@noreply.github.com>
Cc: Joe Driscoll <jdriscoll@autonomoustuff.com>, Assign <assign@noreply.github.com>
Subject: Re: [astuff/pacmod_dbc] Move E-Stop from Component Reports to Miscellaneous R

[2019-07-30 15:23] mlemm99 commented on #46
we may want to change the name of the report from estop report to something more generic so we can fill in more bits in the future

[2019-07-30 15:24] mlemm99 commented on #46
we may want to change the name of the report from estop report to something more generic so we can fill in more bits in the future

[2019-07-30 16:51] JWhitleyWork commented on #46
@mlemm99 - Since we don't have a designated future use, I would say that this is fine for now. We can always rename it (doesn't change the API) and add more data.

[2019-07-31 21:36] asaxsma opened #48 "Move the authoritative description of the CAN Protocol from the PACMod User Manual to the user_can_protocol.md.information from the CAN"
Keep protocol information in one place.

[2019-07-31 21:42] asaxsma commented on #48
Guys, we'll be approving this at our next CAN API meeting.  Please take a look.  Its is basically a move of the authoritative CAN API description from the PACMod System User manual to the pacmod_dbc repository.  I've pushed it and so its available to view.  Please provide feedback.

[2019-08-05 20:13] #26 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-05 20:13] #30 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-05 20:13] #35 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-05 20:13] #37 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-05 20:13] #38 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-05 20:13] #39 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-12 15:50] JWhitleyWork commented on #48
I'm on-board. Approved.

[2019-08-14 18:19] mlemm99 opened #49 "Convert Remaining is_valid to avail"
## Overview
Convert Remaining is_valid values to avail with the exception of vehicle speed.

The outstanding reports to convert include...

**Occupancy Report**
**Door Report**
**Interior Light Report**
**Rear Lights Report**

[2019-08-14 20:17] JWhitleyWork commented on #49
I approve.

[2019-08-14 20:20] driscoll85 commented on #49
Approved

[2019-08-14 21:05] sanazfth opened #50 "To Assign a System based Command CAN ID, report CAN ID and aux report CAN ID for a DoorSystem"
## To Assign a System based Command CAN Message for a DoorSystem
Requirement:  To Assign a System based Command CAN ID for a DoorSystem
Message Name: DOOR_CMD
Message ID (Decimal): 320
Message ID (Hexadecimal): 0x140
Frame Format: Standard
Data Length Code: 1
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|ENABLE|Unsi

[2019-08-14 22:23] sanazfth opened #51 "Add DoorSystem to componentReport"
#Add DoorSystem to componentReport
Requirement: Add DoorSystem to componentReport
Message Name:
Message ID (Decimal): 32
Message ID (Hexadecimal): 0x20
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|COMPONENT_TYPE|Unsigned|3|4|1|0|0|2||
|ACCEL|Unsigned|4|1|1|0|0|1||
|BRAKE|U

[2019-08-14 22:33] JWhitleyWork commented on #50
What is this _CMD intended to control? What exactly are we controlling/reporting with a DoorSystem?

[2019-08-14 23:13] sanazfth commented on #50
It’s just opening and closing the door!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Joshua Whitley <notifications@github.com>
Sent: Wednesday, August 14, 2019 5:33:53 PM
To: astuff/pacmod_dbc <pacmod_dbc@noreply.github.com>
Cc: Sanaz Fattahalhosseini <sfattahalhosseini@autonomoustuff.com>; Author <author@noreply.github.com>
Subject: Re: [astuff/pacmod_dbc] To

[2019-08-14 23:17] JWhitleyWork commented on #50
1. There are a LOT of safety implications with this.
2. We have a current or planned platform where we can control this function?
3. I can't personally approve of this until we've had some discussions about the above 2.

[2019-08-14 23:23] sanazfth commented on #50
Well, we are going to have this feature in JPN_TAXI and seems like we use to have a DoorSystem for Audi, which idk much about that. about the safety, you can’t send any command to open or close the door when you are driving, in JPN_taxi and we are just controlling a sliding door.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Joshua Whitley <notifications@github

[2019-08-15 15:18] asaxsma commented on #49
FYI - These weren't converted the first time on #36 because they are not aux reports.  Mike and I had a conversation to confirm these were in fact used similarly.

[2019-08-19 15:46] asaxsma commented on #50
## To Assign a System based Command CAN Message for a DoorSystem
Requirement:  To Assign a System based Command CAN ID for a DoorSystem
Message Name: REAR_PASS_DOOR_CMD
Message ID (Decimal): 320
Message ID (Hexadecimal): 0x140
Frame Format: Standard
Data Length Code: 2
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|E

[2019-08-19 15:53] asaxsma commented on #51
#Add DoorSystem to componentReport
Requirement: Add DoorSystem to componentReport
Message Name:
Message ID (Decimal): 32
Message ID (Hexadecimal): 0x20
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|COMPONENT_TYPE|Unsigned|3|4|1|0|0|2||
|ACCEL|Unsigned|4|1|1|0|0|1||
|BRAKE|U

[2019-08-19 15:59] asaxsma commented on #45
## Overview
With the shorter DLC, modify the shift aux report to use less bytes as well as follow the flag / valid flag standard

## Current
Message Name: SHIFT_AUX_RPT
Message ID (Decimal): 808
Message ID (Hexadecimal): 0x328
Frame Format: Standard
Data Length Code: 8
TX Node: PACMOD
Message Rate: 30 Hz

|Name|Type|Bitpos|Length|Factor|Offset|Min|Max|Unit|
|---|---|---|---|---|---|---|---|---|
|B

[2019-08-20 19:49] mlemm99 commented on #51
modified last comment to include the BRAKE_DECCEL system @ bit position 20

[2019-08-30 22:00] #25 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:02] #32 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:02] #41 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma, sanazfth

[2019-08-30 22:03] #36 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:03] #44 closed, assigned to JWhitleyWork, driscoll85, mlemm99

[2019-08-30 22:03] #46 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:05] #27 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:06] #29 closed, assigned to JWhitleyWork, driscoll85, mlemm99, amrutamhaske, asaxsma

[2019-08-30 22:06] #45 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:06] #48 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:06] #50 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:06] #51 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:10] asaxsma commented on #49
Moved to bitbucket

[2019-08-30 22:10] #49 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:11] asaxsma commented on #31
Moved to BitBucket.

[2019-08-30 22:11] #31 closed, assigned to JWhitleyWork, driscoll85, mlemm99, asaxsma

[2019-08-30 22:11] asaxsma commented on #13
Moved to BitBucket.

[2019-08-30 22:11] #13 closed, assigned to JWhitleyWork

[2021-08-27 14:28] guetzerik opened #55 "Navigation bar highlighting script is not working properly"
The script controlling the highlight of message names in the navigation bar has issues hooking into the containers for the message links.

The script is trying to find containers that match "nav a [href=<message ID>]". When the HTML document was transferred to git, the href links were updated to URL links that don't fit the string we match against.

The expected containers look like this:
![image]